body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	font-size: 150%;
 	background-color: #52C2A5;
 
}

 #root  {
 	min-height: 50vh;
 	max-width: 50vw;
 	padding: 2% 10%;
 	background-color: white;
 	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }

  
 #input {
 	width: 100%;
 	border: none;
 	border-bottom: 1px rgba(82, 194, 165, 0.5) solid;
 	color: gray;
 	outline-color: rgba(82, 194, 165, 0.2);
 	font-family: 'Raleway', sans-serif;
 	font-size: 120%;
 }



.note {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
  	padding: 2% 0 2% 0;
  	color: gray;
 	border-bottom: 1px rgba(82, 194, 165, 0.8) solid;
 }
.note span{
	 outline-color: rgba(82, 194, 165, 0.2);
	 padding: 0 1em 0 1em; 
	 word-wrap: break-word;
	 max-width: 15em;
	 white-space: pre-line;
	
}

 h1 {
  	text-align: center; 
 	color:#52C2A5;
 }

  i {
 	color: #52C2A5;
 }
 
 i:hover {
 	cursor: pointer;
 }

  .completed {
 	text-decoration: line-through;
 }

  .buttons-container {
 	padding: 5% 0%;
 	display: flex;
 	align-content: flex-start;
 	color: gray;
    font-size: 90%;
  }

  .buttons-container span{
    margin: 0 1%;
  }

  .buttons-container span:hover{
    cursor: pointer;
  }

  .activeButton {
 	border-bottom: 2px #52C2A5 solid;
 }


  input[type="checkbox"]{
 	width: 20px;
 	height: 20px;
 	outline: none;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	background-image: url(res/csscheckboxunchecked.png);
 	background-position: 0 0;
 }
 
input[type="checkbox"]:checked{
	
 	background-image: url(res/csscheckboxchecked.png);
 	 
 	outline: none;
 }

 .visible {
	 visibility: visible;
 }

 .hidden{
	 visibility: hidden;
 }